/* #book-boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
  margin: 0 0 0 8em;
  gap: 4em;
  align-content: center;
}
*/
#book-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 1rem;
  padding: 3em 0;
  margin: 0 9%;
}
.book-holder {
  display: flex;
  flex-direction: row;
  /* min-width: 23em; */
  max-width: 23em;
}

.book-box {
  display: inline-grid;
  padding: 1em;
  gap: 0.25em;
  max-width: 14em;
}

.book-box button {
  width: 8.5em;
  height: 3em;
}

.book-title {
  font-weight: bold;
}

.book-author {
  color: var( --soft-text-color);
}

.button-holder {
  margin-top: 1em;
  display: inline-grid;
}

.button-holder button {
  margin-bottom: .3em;
}

.book-holder div {
  flex: 0 0 auto;
}

.book-image img {
  height: 200px;
  width: 133px;
}

.button-holder .button.read-now-btn {
  background: none;
  border: 1px solid #506282;
  color: #506282;
  height: 2.2em;
}


.button-holder .button.read-now-btn:hover,
.button-holder .button.read-now-btn:active {
  background: #e5eefc;
  color: rgb(112, 112, 113);
}