  .categoryNav {
    background-color: var(--secondary-background-color);
  }

 /*
  .category-nav-image-items {
    display: flex;
    flex-direction: row;
    padding: 1px .5em .5em .5em;
    gap: 2em;
  }
*/
  .category-nav-image-items {
    display: flex;
    padding: 1px .5em .5em .5em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .category-nav-image-items div {
    cursor: pointer;
    padding: 0.5em 0.5em 0.5em .2em;
    border-top: 1px #a09e9e solid;
    z-index: 1;
    height: 3em;
  }

  .category-box.active,
  .category-nav-image-items div:hover {
    border-top: 3px #a09e9e solid;
    background-color: var(--button-hover-background);
  }



