.container {
  background: var(--primary-background-color);
  display: flex;
  flex-direction: row;
  /* padding: 0 1em 1em 1em; */
  gap: 1em;
}

.header-dropdown {
  display: flex;
  margin: 2.4em 30px 0 0;
}
.cart circle {
  fill: #4e70a6;
}

.bookstore-logo,
.categories,
.search,
.cart-account {
  flex-grow: 2;
}

.logo {
  max-width: 248px;
}

.search {
  position: relative;
  top: -0.5em;
}
.cart {
  position: relative;
}
.cart-section {
  margin: 2.1em 0 0 0;
}

.cart-number {
  position: absolute;
  color: var(--primary-color-light);
  left: 2.35em;
}

circle {
  fill: blue;
}

svg {
  width: 20px;
}

.search-field {
  display: none;
  position: absolute;
  top: 0em;
  right: 0em;
}

.magnify {
  position: relative;
}

.magnify:hover {
  left: 17.4em;
}

.magnify:hover + form {
  display: flex;

}

form:active,
form:hover {
  display: flex;
}

.search-bar {
  border-top: none;
  border: none;
  border-bottom: cornflowerblue;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: .25em 7em;
}

/* NAVIGATION */


.hamburger {
  display: none;
}
.categories,
.search,
.cart-account {
  flex-grow: 0;
}


.categories a {
  margin-right: 1.6em;
}