.category-dropdown {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: var(--primary-background-color);
  position: absolute;
  left: 0;
  top: 6.2em;
  padding: .5em;
  min-width: 100%;
  z-index: 2;
}

.category-dropdown  div {
  flex-grow: 2;
  font-size: var(--reduced-font-size);
  padding: 0 .4em 0 0;
}

.category-dropdown  div a {
  display: block;
}
.cat-menu-open {
  display: grid;
}
/*
.category-dropdown:hover,
.category-dropdown:active,
.category-hover:hover + .category-dropdown,
.category-hover:active + .category-dropdown {
  display: grid;
}
*/

.cart {
  padding: 2em;
  background: #ffffff url(../images/site/shopping-cart.png) no-repeat .2em 1.3em;
}
